<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Bought on:</strong>
  <%= @product.created_at.strftime("%D") %>
<p>
  <strong>Owners:</strong>
  <%= @product.owners %>
</p>

<p>
  <strong>Team:</strong>
  <%= @product.team %>
</p>

<p>
  <strong>Who needs to pay:</strong>
    <% count = @product.pay_list.count %>
    <% @product.pay_list.each do |payer|%>
      <p>
      <%= payer %> : JD<%= @product.price/count %>
    </p>
    <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
